.img-circle{
    background-color:  #FFFFFF;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 50% !important;
    max-width: 100%;
}
.avatar-pic {
    width: 150px;
    }



    .img-wrap {
        position: relative;
        display: inline-block;
        border: 1px #FFFFFF solid;
        font-size: 0;
    }
    .img-wrap .close {
        position: absolute;
        top: 2px;
        right: 2px;
        z-index: 100;
 
        padding: 5px 2px 2px;
        color: rgb(216, 10, 10);
        font-weight: bold;
        cursor: pointer;
        opacity: .2;
        text-align: center;
        font-size: 40px;
        line-height: 10px;
        border-radius: 50%;
    }
    .img-wrap:hover .close {
        opacity: 1;
    }   
    
    .card-lift--hover:hover
{
    transition: all .15s ease;
    transform: translateY(-20px);
}
@media screen and (prefers-reduced-motion: reduce)
{
    .card-lift--hover:hover
    {
        transition: none;
    }
}
